body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo {
  padding-left: 40px;
  color: white;
  font-weight: 900;
  font-size: 25px;
  font-family: "Roboto Rounded", sans-serif;
}

.right {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-right: 40px;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 600;
  color: #cecece;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 70px;
  background-color: #1f2937;
  flex-wrap: wrap;
}

.entrance {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 450px;
  background-color: #1f2937;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 400px;
  height: 240px;
  padding: 0;
  gap: 8px;
}

.main-text {
  display: flex;
  font-size: 48px;
  margin: 0;
  font-family: "Roboto Rounded", sans-serif;
  font-weight: bold;
  color: #f9faf8;
}

.secondary-text {
  display: flex;
  font-size: 18px;
  color: #cecece;
  font-family: Roboto;
  margin: 0;
}

.image {
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

#my-but {
  margin-top: 8px;
  border: none;
  font-family: "Roboto Rounded", sans-serif;
  font-weight: bolder;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
  background-color: #3882f6;
  width: 150px;
  height: 40px;
  font-size: 18px;
}

.containers {
  display: flex;
  height: 400px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.info-text {
  margin-top: 40px;
  font-size: 36px;
  font-weight: bold;
  font-family: "Roboto Rounded", sans-serif;
  color: #1f2937;
}

.photos-container {
  display: flex;
  justify-content: space-evenly;
  width: 900px;
  height: 100%;
}

.photo-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#info-image {
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.photo-text {
  font-family: "Roboto Rounded", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #626262;
}

.finish-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.finish-text-container {
  display: flex;
  height: 200px;
  width: 700px;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
}
.lorem {
  display: flex;
  color: #737373;
  font-size: 32px;
  font-style: italic;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-weight: 100;
}

.author {
  display: flex;
  align-self: flex-end;
  font-weight: bold;
  font-family: "Roboto Rounded", sans-serif;
  font-size: 24px;
  color: #1f2937;
}

.sign-in {
  display: flex;
  height: 280px;
  justify-content: center;
  align-items: center;
}

.sign-in-container {
  display: flex;
  background-color: #3882f6;
  height: 130px;
  width: 700px;
  border-radius: 8px;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.maintext {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  gap: 4px;
}

.sign-in-main {
  margin: 0;
  padding: 0;
  font-family: "Roboto Rounded", sans-serif;
  font-size: 24px;
  color: white;
}

.sign-in-secondary {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #e5e5e5;
}

#second-button {
  height: 30px;
  width: 100px;
  background-color: #3882f6;
  border: 2px solid white;
  border-radius: 8px;
  font-family: Roboto;
  font-weight: 700;
  color: white;
}
